@layer reset, layout, other;

@layer reset {
  /*
CSS Reset
Adapted from: https://piccalil.li/blog/a-more-modern-css-reset/
for mad9013
*/

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.5;
  }

  /* Remove default margin in favour of better control in authored CSS */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  ol,
  ul,
  dl,
  dd {
    margin: 0 0 1.5rem;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    margin: 0;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: #36bf7f;
  }

  a:not([class]):hover,
  a:not([class]):focus-visible {
    color: #d96666;
  }

  /* Make images easier to work with */
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }

  svg {
    fill: currentColor;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Update default button cursor to indicate interactivity */
  button {
    cursor: pointer;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10rem;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 3rem;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer layout {
  :root {
    /* Type Scales */
    --type-scale-h1: clamp(1.476rem, 7.086vi, 5.61rem);
    --type-scale-h2: clamp(1.383rem, 5.592vi, 4.209rem);
    --type-scale-h3: clamp(1.296rem, 4.453vi, 3.157rem);
    --type-scale-h4: clamp(1.215rem, 3.584vi, 2.369rem);
    --type-scale-h5: clamp(1.138rem, 2.915vi, 1.777rem);
    --type-scale-h6: clamp(1.067rem, 2.4vi, 1.333rem);

    /* ---- Root Variables ----- */
    --banner-height: 12rem;
    --banner-vertical-align: center;
    --banner-horizontal-align: left;
    --banner-text-align: left;

    --green: #36bf7f;
    --black: #333;
    --white: #fff;
  }

  h1,
  .type-scale-h1 {
    font-size: var(--type-scale-h1);
  }

  h2,
  .type-scale-h2 {
    font-size: var(--type-scale-h2);
  }

  h3,
  .type-scale-h3 {
    font-size: var(--type-scale-h3);
  }

  h4,
  .type-scale-h4 {
    font-size: var(--type-scale-h4);
  }

  h5,
  .type-scale-h5 {
    font-size: var(--type-scale-h5);
  }

  h6,
  .type-scale-h6 {
    font-size: var(--type-scale-h6);
  }

  /* ---------- End of typography code generated by responsivetype.ca ---------- */

  /* --------- Base Banner Styles ------- */
  html,
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  .banner {
    display: flex;
    justify-content: var(--banner-horizontal-align);
    align-items: var(--banner-vertical-align);
    min-height: var(--banner-height);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/banner.jpg"); /* A little dark background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    text-align: var(--banner-text-align);
    padding: 8rem 0 8rem 8rem;
  }

  .banner__title {
    color: var(--green);
    font-size: var(--type-scale-h4);
  }

  p {
    font-size: var(--type-scale-h6);
  }

  /* ------ Content width ----- */
  .banner__content {
    max-width: 35em;
  }

  .btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    font-size: var(--type-scale-h6);
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: var(--green);
    color: var(--black);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
}

@layer other {
  /* Large Size */
  .banner--large {
    --banner-height: 20rem;
    padding: 12rem 0 15rem 8rem;

    & .banner__title {
      font-size: var(--type-scale-h2);
    }

    & .btn {
      font-size: var(--type-scale-h5);
    }
  }

  /* Bottom Position */
  .banner--bottom {
    padding: 30rem 0 2rem 8rem;
    --banner-vertical-align: flex-end;
  }

  /* Top Position */
  .banner--top {
    --banner-text-align: flex-start;
    padding: 7rem 0 15rem 8rem;
  }

  /* Center Position */
  .banner--center {
    padding: 8rem 0 8rem 0;
    --banner-vertical-align: center;
    --banner-horizontal-align: center;
    --banner-text-align: center;
  }

  /* Right Position */
  .banner--right {
    padding: 8rem 8rem 8rem 0;
    --banner-horizontal-align: flex-end;
    --banner-text-align: right;
  }
}
